<!DOCTYPE html>

<!-- This allows you to use the static files in the /static/ folder -->
{% load staticfiles %}

<html>

	<head>
		<title>{{ title }}</title>
		<!-- Examples of css or js staticfile references:
			<link rel="stylesheet" href="{% static "css/base.css" %}" />
			<script src="{% static "js/jquery.js" %}"></script>
		-->
	</head>

	<body>
		
		List all shows:
		<a href="/main/">Home</a><br />

		<!-- reference a static file -->
		<img src="{% static "images/dagashi-kashi2.jpg" %}" alt="Picture of dagashi kashi" /> 
	
	</body>

</html>