{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Where Were We?{% endblock %}


	{% block body_block %}

	
	
		<h1>Where Were We homepage</h1>
		Message:<strong>{{ boldmessage }}</strong><br />

		
		<a href="/main/about/">About</a><br />
		
		<a href="/main/dagashiKashi/"><h2>dagashiKashi</h2></a><br />

		{% if shows %}
			<ul>
				{% for show in shows %}
				<li>
					<a href="{% url 'show' show.slug %}">{{ show.title }}</a>					
				</li>
				<br />
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no shows at this time.</strong>
		{% endif %}
		<br />
		<br />
	
	{% endblock %} 