{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Show Search{% endblock %}

<link rel="stylesheet" href="{% static "stylesheets/search.css" %}" />

{% block body_block %}

<form role="form" id="search_form" method="post" action="/search/">
		<h2 class="form-signin-heading">Search</h2>
		{% csrf_token %}
		<input type="text" name="search_text" value="{{ search_text }}">
		<br />
		<br />
		<button class="btn btn-primary" type="submit" name="submit">Search</button>
	</form>
	
	<br />
	
	{% if seriesList%}
		{% for series in seriesList %}
			<a href="{% url 'show' series.id %}"><h4>{{ series.seriesName }}</h4>
				<img src="http://thetvdb.com/banners/{{ series.banner }}" </img>
			</a>
			<br/>
			<div class="seriesOverview">
				{{ series.overview }}
			</div>
			<br />
			<br />
			<br />

		{% endfor %}
	{% endif %}

	{% if showNotFound %}
		<h2>Show not found!</h2>
	{% endif %}

{% endblock %}
