{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Show Page{% endblock %}

<link rel="stylesheet" href="{% static "stylesheets/show.css" %}" />

{% block body_block %}
	<div class="page-header">
		<h2>{{show.series.seriesName}}</h2>
	</div>

	<div class="row">
		<div class="col-sm-3 col-md-3">
			<img  src="http://thetvdb.com/banners/{{ show.posters.0.fileName }}" height=418 width=284 </img>
		</div>
		
		<div class="col-sm-6 col-md-6 col-sm-offset-1 col-md-offset-1" >
			<h4>Overview</h4>
			<div class="seriesOverview">
				{{ show.series.overview }}
			</div>
		</div>
	</div>

	<div class="row">
		<h2>{{ show.seriesCount }} Seasons</h2>
	</div>
	






{% endblock %}
